<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Counter</h3>
        <p>Custom Store</p>

        <p>
          The counter value is:
          <b>{{ counter }}</b>
        </p>

        <p>
          <button (click)="increment()"
                  class="btn btn-primary">
            Increment
          </button>
          <button (click)="decrement()"
                  class="btn btn-default">
             Decrement
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
